@charset "UTF-8";
* { padding: 0; margin: 0; border: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:focus, :active { outline: none; }

a:focus, a:active { outline: none; }

nav, footer, header, aside { display: block; }

html, body { height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

input, button, textarea { font-family: inherit; }

input::-ms-clear { display: none; }

button { cursor: pointer; }

button::-moz-focus-inner { padding: 0; border: 0; }

a, a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

ul li { list-style: none; }

img { vertical-align: top; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; }

/*обнуление*/
html body { font-family: 'Roboto', sans-serif; height: auto; }

p { font-family: 'Roboto', sans-serif; }

.intro__text { font-size: 30px; }

.container { max-width: 1180px; margin: 0 auto; }

div a { color: #000; }

.header { background-color: none; }

.header__wrapper { display: flex; justify-content: center; flex-wrap: wrap; flex-direction: row; align-items: baseline; }

.header__logo { flex-grow: 1; padding: 10px 10px 10px 10px; background-color: #fff; z-index: 2; }

.header__logo img { height: 100%; }

.header__left { flex: 1 0 auto; display: flex; flex-direction: column; justify-content: space-around; }

.header__menu { display: flex; justify-content: space-between; padding: 10px 10px 10px 10px; width: 100%; }

.header__menu li a { color: #252c35; padding: 14px; }

.header__link { font-size: 18px; }

.header__info { padding: 10px; display: flex; width: 100%; justify-content: space-between; }

.header__item { padding: 14px; display: flex; flex-direction: column; }

.header__zamer { background: url("../images/ruletka.png") no-repeat scroll 0px 14px; padding-left: 52px; }

.header__mail { background: url("../images/post_mail.png") no-repeat scroll 0px 17px; padding-left: 45px; }

.header__phone { background: url("../images/h_phone.png") no-repeat scroll 0px 14px; padding-left: 28px; }

.header__btn { background: #ec1c24 url("../images/call.png") no-repeat scroll 24px 13px; font-size: 16px; height: 40px; width: 200px; padding-left: 50px; color: #fff; margin: 7px; border-radius: 3px; box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2) inset, 0px 3px 8px 0px rgba(229, 46, 47, 0.22); }

@media (max-width: 1010px) { .header__menu { background-color: #fff; border-bottom: 2px solid #ec1c24; top: -100%; position: absolute; display: flex; flex-direction: column; align-items: center; z-index: 1; transition: all 0.3s ease 0s; } .header__menu.active { top: 119px; } .header__menu li { width: 100%; display: flex; } .header__menu li a { flex-grow: 1; text-align: center; } .header__burger { display: flex; top: 30px; right: 30px; width: 40px; height: 30px; position: absolute; z-index: 2; justify-content: center; align-items: center; } .header__burger:before, .header__burger:after { content: ''; background-color: #ec1c24; position: absolute; width: 80%; height: 3px; transition: all 0.3s ease 0s; } .header__burger:before { top: 0; } .header__burger:after { bottom: 0; } .header__burger span { position: absolute; background-color: #ec1c24; width: 100%; height: 3px; top: 13.5px; transition: all 0.3s ease 0s; } .header__burger-circle { height: 60px; width: 60px; flex-shrink: 0; border: 3px solid #ec1c24; border-radius: 50%; transition: all 0.3s ease 0s; } .header__burger-circle.active { border-color: transparent; } .header__burger.active:before { transform: rotate(-45deg); top: 13.5px; } .header__burger.active:after { transform: rotate(45deg); bottom: 13.5px; } .header__burger.active span { transform: scale(0); } }

@media (max-width: 767px) { body.lock { overflow: hidden; } .header__menu { position: fixed; } .header__menu.active { top: 50px; } .header__burger { top: 15px; right: 15px; width: 30px; height: 20px; position: fixed; } .header__burger:before, .header__burger:after { height: 2px; width: 100%; } .header__burger span { top: 9px; height: 2px; } .header__burger-circle { display: none; } .header__burger.active:before { top: 9px; } .header__burger.active:after { bottom: 9px; } .header__zamer { display: none; } .header__info { justify-content: space-evenly; } .header__logo { background-color: #fff; width: 100%; height: 50px; position: fixed; top: 0px; } .header__wrapper { padding-top: 40px; } }

@media (max-width: 600px) { .header__btn { position: fixed; top: 5px; z-index: 2; right: 55px; background-position: 15px; font-size: 14px; height: 30px; width: 170px; padding: 9px 0 0 40px; } }

@media (max-width: 330px) { .header__mail { display: none; } .header__btn { display: none; } }

footer { background: transparent url("../images/footer_bg.jpg") scroll center 0; background-size: cover; }

.footer__wrapper { display: flex; flex-wrap: wrap; justify-content: space-around; }

.footer__title { font-size: 16px; padding: 15px; color: white; font-weight: normal; }

.footer__conteiner { width: 300px; padding: 10px; margin: 0 auto; display: flex; flex-direction: column; align-items: center; color: #b3b3b3; }

.footer__conteiner, .footer__conteiner a, .footer__conteiner p, .footer__conteiner li { padding: 5px 0; color: #b3b3b3; font-size: 14px; }

.footer__info ul { column-count: 2; }

.footer__socials li { display: inline; }

.footer__socials a { filter: invert(1); }

.footer__socials a:hover { filter: invert(1) drop-shadow(0px 0px 2px white); }

@media (max-width: 480px) { .footer__wrapper { flex-direction: column; } .footer__conteiner { width: 100%; padding: 10px; } }

.intro { padding: 60px 0 15px 0; background: transparent url("../img/fsection.jpg") no-repeat scroll center top; min-height: auto; background-size: cover; display: flex; flex-direction: column; }

.intro__title { color: #ffffff; font-size: 48px; line-height: 58px; font-family: 'Roboto', sans-serif; font-weight: 900; position: relative; text-align: center; text-transform: uppercase; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); }

.intro__title:after { content: ""; position: absolute; bottom: -5px; height: 3px; width: 105px; background-color: #fff; border-radius: 1px; left: 0; right: 0; margin: 0 auto; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }

.intro__subtitle { display: flex; justify-content: center; font-size: 23px; line-height: 27px; color: #ffffff; font-weight: 300; text-align: center; max-width: 100%; padding: 20px 10px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }

.intro__subtitle p { width: 800px; }

@media (max-width: 1010px) { .intro__subtitle p { width: auto; } }

.intro__list { display: flex; flex-wrap: wrap; margin: auto; width: 100%; }

.intro__item { text-align: center; padding: 100px 25px 10px; width: 25%; }

.intro__item:nth-child(1) { background: #e31e24 url("../img/preim_blok1.png") no-repeat scroll center 31px; }

.intro__item:nth-child(2) { background: #c41314 url("../img/preim_blok3.png") no-repeat scroll center 31px; }

.intro__item:nth-child(3) { background: #a71011 url("../img/preim_blok2.png") no-repeat scroll center 31px; }

.intro__item:nth-child(4) { background: #961011 url("../img/preim_blok4.png") no-repeat scroll center 31px; }

.intro__head { color: #fff; font-weight: bold; font-size: 16px; text-transform: uppercase; padding: 10px; }

.intro__text { font-size: 16px; color: #fff; font-weight: 300; font-size: 16px; line-height: 21px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }

@media (max-width: 768px) { .intro__title { font-size: 30px; line-height: 40px; } .intro__item { width: 50%; } }

@media (max-width: 420px) { .intro__item { width: 100%; } }

/*USEtyped.js*/
.forma { display: flex; flex-direction: column; padding: 20px; max-width: 380px; box-shadow: 0px 0px 11px 0 rgba(0, 0, 0, 0.2); border-radius: 10px; margin: 10px; }

.name { padding: 10px; border: 2px solid #eee; border-radius: 5px; margin: 10px; }

.phone { padding: 10px; border: 2px solid #eee; border-radius: 5px; margin: 10px; }

.btn_submit { padding: 10px; background-color: #e31e24; border-radius: 5px; margin: 10px; color: #fff; font-family: 'Roboto', sans-serif; font-size: 18px; }

.btn_submit:active { background-color: #888; }

.sended { align-self: center; font-weight: bold; color: #4c4; font-size: 18px; display: none; }

.sended.active { display: block; }

input:invalid { border: 2px; }

@media (max-width: 767px) { h1 { font-size: calc(15px + 42.5 * ((100vw - 320px) / 1280)); } }

@media (min-width: 767px) { h1 { font-size: calc(15px + 25 * (100vw / 1280)); } }

/*# sourceMappingURL=default.css.map */